<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="logImpl" value="LOG4J2" />
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<typeAliases>
		<typeAlias type="com.vfcons.vferp.domain.User" alias="User" />
		<typeAlias type="com.vfcons.vferp.domain.Company" alias="Company" />
	</typeAliases>
	<!--  mappers>
		<mapper resource="com/vfcons/vferp/persistence/mapper/UserMapper.xml" />
		<mapper resource="com/vfcons/vferp/persistence/mapper/CompanyMapper.xml" />
		<package name="mybatis/mappers" />
	</mappers -->
</configuration>